.storyline {
  position: relative;
  &__bar {
    width: 8px;
    background-color: rgb(185, 185, 185);
    min-height: 100%;
    margin: auto;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    left: calc(50% - 8px);
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__circle {
    margin: auto;
    position: absolute;
    margin-top: 26px;
    margin-left: -16px;
    left: 50%;
    content: '';
    background-color: #007bff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
